body{
    margin: 23px;
    padding: 20px;
    height: 10px;
background-color: rgba(33, 31, 31, 0.401)
color: rgb(252, 252, 252);
.div{
  
}
.div img{ 
    width: 200px;
    height: 200px;


}
h1{color: rgb(226, 162, 43);}
.button{
    size: 2000px;
    color: rgb(20, 241, 0);
background-color: black;
}